In [1]:
import time
st = time.time()
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 44 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 49.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=271ac12c2a9985c0c969b140859c6ff059a92db210b63ae9a10e55d766aa088e
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [2]:
import pyspark
import time

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('test').enableHiveSupport().getOrCreate()

In [5]:
spark

In [6]:
column_credit_card = ['Transaction_id', 'Amount', 'Date', 'Customer_id']

In [7]:
data_credit_card = [('100023' , '12000' , '27-July-2022' , '15897') , ('100021' , '11998' , '27-July-2022' , '15867') , ('100019' , '11996' , '27-July-2022' , '12454') , ('100017' , '11994' , '27-July-2022' , '15897') , ('100015' , '11992' , '27-July-2022' , '15867') , ('100013' , '11990' , '27-July-2022' , '12454') , ('100011' , '11988' , '27-July-2022' , '15897') , ('100009' , '11986' , '27-July-2022' , '15867') , ('100007' , '11984' , '27-July-2022' , '12454') , ('100005' , '11982' , '27-July-2022' , '15897') , ('100003' , '11980' , '27-July-2022' , '15867') , ('100001' , '11978' , '27-July-2022' , '12454') , ('99999' , '11976' , '27-July-2022' , '14587') , ('99997' , '11974' , '27-July-2022' , '31262')]

In [8]:
dataset_credit_card = spark.createDataFrame(data_credit_card, column_credit_card)

In [9]:
column_cheque = ['Transaction_id', 'Amount', 'Date', 'Customer_id']

In [10]:
data_cheque = [('100056' , '12000' , '27-July-2022' , '15897') , ('100057' , '11998' , '27-July-2022' , '15867') , ('100058' , '11996' , '27-July-2022' , '12454') , ('100059' , '11994' , '27-July-2022' , '15897') , ('100060' , '11992' , '27-July-2022' , '15867') , ('100061' , '11990' , '27-July-2022' , '12454') , ('100062' , '11988' , '27-July-2022' , '15897') , ('100063' , '11986' , '27-July-2022' , '15867') , ('100064' , '11984' , '27-July-2022' , '12454') , ('100065' , '11982' , '27-July-2022' , '15897') , ('100066' , '11980' , '27-July-2022' , '15867') , ('100067' , '11978' , '27-July-2022' , '12454') , ('100068' , '11976' , '27-July-2022' , '14587') , ('100069' , '11974' , '27-July-2022' , '31262')]

In [11]:
dataset_cheque = spark.createDataFrame(data_cheque, column_cheque)

1662055802.346273

In [12]:
dataset_cheque.show()

+--------------+------+------------+-----------+
|Transaction_id|Amount|        Date|Customer_id|
+--------------+------+------------+-----------+
|        100056| 12000|27-July-2022|      15897|
|        100057| 11998|27-July-2022|      15867|
|        100058| 11996|27-July-2022|      12454|
|        100059| 11994|27-July-2022|      15897|
|        100060| 11992|27-July-2022|      15867|
|        100061| 11990|27-July-2022|      12454|
|        100062| 11988|27-July-2022|      15897|
|        100063| 11986|27-July-2022|      15867|
|        100064| 11984|27-July-2022|      12454|
|        100065| 11982|27-July-2022|      15897|
|        100066| 11980|27-July-2022|      15867|
|        100067| 11978|27-July-2022|      12454|
|        100068| 11976|27-July-2022|      14587|
|        100069| 11974|27-July-2022|      31262|
+--------------+------+------------+-----------+

In [13]:
dataset_credit_card.show()

+--------------+------+------------+-----------+
|Transaction_id|Amount|        Date|Customer_id|
+--------------+------+------------+-----------+
|        100023| 12000|27-July-2022|      15897|
|        100021| 11998|27-July-2022|      15867|
|        100019| 11996|27-July-2022|      12454|
|        100017| 11994|27-July-2022|      15897|
|        100015| 11992|27-July-2022|      15867|
|        100013| 11990|27-July-2022|      12454|
|        100011| 11988|27-July-2022|      15897|
|        100009| 11986|27-July-2022|      15867|
|        100007| 11984|27-July-2022|      12454|
|        100005| 11982|27-July-2022|      15897|
|        100003| 11980|27-July-2022|      15867|
|        100001| 11978|27-July-2022|      12454|
|         99999| 11976|27-July-2022|      14587|
|         99997| 11974|27-July-2022|      31262|
+--------------+------+------------+-----------+

In [14]:
column_customer = ['Customer_id', 'First_Name', 'Last_Name', 'Country']

In [15]:
data_customer = [('15897' , 'Robin' , 'Singh' , 'India') , ('15867' , 'Rajiv' , 'Singh' , 'USA') , ('12454' , 'Doyel' , 'Pradhan' , 'China'), ('14587' , 'Sam' , 'Thankur' , 'Taiwan') , ('31262' , 'John' , 'Sena' , 'Russia')]

In [16]:
dataset_customer = spark.createDataFrame(data_customer, column_customer)

In [17]:
dataset_customer.show()

+-----------+----------+---------+-------+
|Customer_id|First_Name|Last_Name|Country|
+-----------+----------+---------+-------+
|      15897|     Robin|    Singh|  India|
|      15867|     Rajiv|    Singh|    USA|
|      12454|     Doyel|  Pradhan|  China|
|      14587|       Sam|  Thankur| Taiwan|
|      31262|      John|     Sena| Russia|
+-----------+----------+---------+-------+

Banking Transaction dataset

Raw data name

dataset_customer

dataset_credit_card

dataset_cheque

In [18]:
dataset_customer.show()

dataset_credit_card.show()

dataset_cheque.show()

+-----------+----------+---------+-------+
|Customer_id|First_Name|Last_Name|Country|
+-----------+----------+---------+-------+
|      15897|     Robin|    Singh|  India|
|      15867|     Rajiv|    Singh|    USA|
|      12454|     Doyel|  Pradhan|  China|
|      14587|       Sam|  Thankur| Taiwan|
|      31262|      John|     Sena| Russia|
+-----------+----------+---------+-------+

+--------------+------+------------+-----------+
|Transaction_id|Amount|        Date|Customer_id|
+--------------+------+------------+-----------+
|        100023| 12000|27-July-2022|      15897|
|        100021| 11998|27-July-2022|      15867|
|        100019| 11996|27-July-2022|      12454|
|        100017| 11994|27-July-2022|      15897|
|        100015| 11992|27-July-2022|      15867|
|        100013| 11990|27-July-2022|      12454|
|        100011| 11988|27-July-2022|      15897|
|        100009| 11986|27-July-2022|      15867|
|        100007| 11984|27-July-2022|      12454|
|        100005| 11982|27-July-2022|      15897|
|        100003| 11980|27-July-2022|      15867|
|        100001| 11978|27-July-2022|      12454|
|         99999| 11976|27-July-2022|      14587|
|         99997| 11974|27-July-2022|      31262|
+--------------+------+------------+-----------+

+--------------+------+------------+-----------+
|Transaction_id|Amount|        Date|Customer_id|
+--------------+------+------------+-----------+
|        100056| 12000|27-July-2022|      15897|
|        100057| 11998|27-July-2022|      15867|
|        100058| 11996|27-July-2022|      12454|
|        100059| 11994|27-July-2022|      15897|
|        100060| 11992|27-July-2022|      15867|
|        100061| 11990|27-July-2022|      12454|
|        100062| 11988|27-July-2022|      15897|
|        100063| 11986|27-July-2022|      15867|
|        100064| 11984|27-July-2022|      12454|
|        100065| 11982|27-July-2022|      15897|
|        100066| 11980|27-July-2022|      15867|
|        100067| 11978|27-July-2022|      12454|
|        100068| 11976|27-July-2022|      14587|
|        100069| 11974|27-July-2022|      31262|
+--------------+------+------------+-----------+

In [19]:
from pyspark.sql.types import *

In [20]:
dataset_credit_card.createOrReplaceTempView("dataset_credit_card")

In [21]:
spark.sql("select * from dataset_credit_card where Amount >= 11990").show()

+--------------+------+------------+-----------+
|Transaction_id|Amount|        Date|Customer_id|
+--------------+------+------------+-----------+
|        100023| 12000|27-July-2022|      15897|
|        100021| 11998|27-July-2022|      15867|
|        100019| 11996|27-July-2022|      12454|
|        100017| 11994|27-July-2022|      15897|
|        100015| 11992|27-July-2022|      15867|
|        100013| 11990|27-July-2022|      12454|
+--------------+------+------------+-----------+

In [22]:
from pyspark.sql.functions import lit

dataset_credit_card = dataset_credit_card.withColumn('Transaction_type', lit('Credit Card'))

In [23]:
dataset_credit_card.show()

+--------------+------+------------+-----------+----------------+
|Transaction_id|Amount|        Date|Customer_id|Transaction_type|
+--------------+------+------------+-----------+----------------+
|        100023| 12000|27-July-2022|      15897|     Credit Card|
|        100021| 11998|27-July-2022|      15867|     Credit Card|
|        100019| 11996|27-July-2022|      12454|     Credit Card|
|        100017| 11994|27-July-2022|      15897|     Credit Card|
|        100015| 11992|27-July-2022|      15867|     Credit Card|
|        100013| 11990|27-July-2022|      12454|     Credit Card|
|        100011| 11988|27-July-2022|      15897|     Credit Card|
|        100009| 11986|27-July-2022|      15867|     Credit Card|
|        100007| 11984|27-July-2022|      12454|     Credit Card|
|        100005| 11982|27-July-2022|      15897|     Credit Card|
|        100003| 11980|27-July-2022|      15867|     Credit Card|
|        100001| 11978|27-July-2022|      12454|     Credit Card|
|         99999| 11976|27-July-2022|      14587|     Credit Card|
|         99997| 11974|27-July-2022|      31262|     Credit Card|
+--------------+------+------------+-----------+----------------+

In [24]:
dataset_cheque = dataset_cheque.withColumn('Transaction_type', lit('Cheque'))

In [25]:
dataset_cheque.show()

+--------------+------+------------+-----------+----------------+
|Transaction_id|Amount|        Date|Customer_id|Transaction_type|
+--------------+------+------------+-----------+----------------+
|        100056| 12000|27-July-2022|      15897|          Cheque|
|        100057| 11998|27-July-2022|      15867|          Cheque|
|        100058| 11996|27-July-2022|      12454|          Cheque|
|        100059| 11994|27-July-2022|      15897|          Cheque|
|        100060| 11992|27-July-2022|      15867|          Cheque|
|        100061| 11990|27-July-2022|      12454|          Cheque|
|        100062| 11988|27-July-2022|      15897|          Cheque|
|        100063| 11986|27-July-2022|      15867|          Cheque|
|        100064| 11984|27-July-2022|      12454|          Cheque|
|        100065| 11982|27-July-2022|      15897|          Cheque|
|        100066| 11980|27-July-2022|      15867|          Cheque|
|        100067| 11978|27-July-2022|      12454|          Cheque|
|        100068| 11976|27-July-2022|      14587|          Cheque|
|        100069| 11974|27-July-2022|      31262|          Cheque|
+--------------+------+------------+-----------+----------------+

In [26]:
dataset_tran = dataset_cheque.union(dataset_credit_card)

In [27]:
dataset_tran.show(50)

+--------------+------+------------+-----------+----------------+
|Transaction_id|Amount|        Date|Customer_id|Transaction_type|
+--------------+------+------------+-----------+----------------+
|        100056| 12000|27-July-2022|      15897|          Cheque|
|        100057| 11998|27-July-2022|      15867|          Cheque|
|        100058| 11996|27-July-2022|      12454|          Cheque|
|        100059| 11994|27-July-2022|      15897|          Cheque|
|        100060| 11992|27-July-2022|      15867|          Cheque|
|        100061| 11990|27-July-2022|      12454|          Cheque|
|        100062| 11988|27-July-2022|      15897|          Cheque|
|        100063| 11986|27-July-2022|      15867|          Cheque|
|        100064| 11984|27-July-2022|      12454|          Cheque|
|        100065| 11982|27-July-2022|      15897|          Cheque|
|        100066| 11980|27-July-2022|      15867|          Cheque|
|        100067| 11978|27-July-2022|      12454|          Cheque|
|        100068| 11976|27-July-2022|      14587|          Cheque|
|        100069| 11974|27-July-2022|      31262|          Cheque|
|        100023| 12000|27-July-2022|      15897|     Credit Card|
|        100021| 11998|27-July-2022|      15867|     Credit Card|
|        100019| 11996|27-July-2022|      12454|     Credit Card|
|        100017| 11994|27-July-2022|      15897|     Credit Card|
|        100015| 11992|27-July-2022|      15867|     Credit Card|
|        100013| 11990|27-July-2022|      12454|     Credit Card|
|        100011| 11988|27-July-2022|      15897|     Credit Card|
|        100009| 11986|27-July-2022|      15867|     Credit Card|
|        100007| 11984|27-July-2022|      12454|     Credit Card|
|        100005| 11982|27-July-2022|      15897|     Credit Card|
|        100003| 11980|27-July-2022|      15867|     Credit Card|
|        100001| 11978|27-July-2022|      12454|     Credit Card|
|         99999| 11976|27-July-2022|      14587|     Credit Card|
|         99997| 11974|27-July-2022|      31262|     Credit Card|
+--------------+------+------------+-----------+----------------+

In [28]:
all_data = dataset_tran.join(dataset_customer, dataset_tran['Customer_id'] == dataset_customer['Customer_id'], 'inner' ).drop(dataset_customer['Customer_id'])

In [29]:
all_data.show(100)

+--------------+------+------------+-----------+----------------+----------+---------+-------+
|Transaction_id|Amount|        Date|Customer_id|Transaction_type|First_Name|Last_Name|Country|
+--------------+------+------------+-----------+----------------+----------+---------+-------+
|        100058| 11996|27-July-2022|      12454|          Cheque|     Doyel|  Pradhan|  China|
|        100061| 11990|27-July-2022|      12454|          Cheque|     Doyel|  Pradhan|  China|
|        100064| 11984|27-July-2022|      12454|          Cheque|     Doyel|  Pradhan|  China|
|        100067| 11978|27-July-2022|      12454|          Cheque|     Doyel|  Pradhan|  China|
|        100019| 11996|27-July-2022|      12454|     Credit Card|     Doyel|  Pradhan|  China|
|        100013| 11990|27-July-2022|      12454|     Credit Card|     Doyel|  Pradhan|  China|
|        100007| 11984|27-July-2022|      12454|     Credit Card|     Doyel|  Pradhan|  China|
|        100001| 11978|27-July-2022|      12454|     Credit Card|     Doyel|  Pradhan|  China|
|        100068| 11976|27-July-2022|      14587|          Cheque|       Sam|  Thankur| Taiwan|
|         99999| 11976|27-July-2022|      14587|     Credit Card|       Sam|  Thankur| Taiwan|
|        100057| 11998|27-July-2022|      15867|          Cheque|     Rajiv|    Singh|    USA|
|        100060| 11992|27-July-2022|      15867|          Cheque|     Rajiv|    Singh|    USA|
|        100063| 11986|27-July-2022|      15867|          Cheque|     Rajiv|    Singh|    USA|
|        100066| 11980|27-July-2022|      15867|          Cheque|     Rajiv|    Singh|    USA|
|        100021| 11998|27-July-2022|      15867|     Credit Card|     Rajiv|    Singh|    USA|
|        100015| 11992|27-July-2022|      15867|     Credit Card|     Rajiv|    Singh|    USA|
|        100009| 11986|27-July-2022|      15867|     Credit Card|     Rajiv|    Singh|    USA|
|        100003| 11980|27-July-2022|      15867|     Credit Card|     Rajiv|    Singh|    USA|
|        100056| 12000|27-July-2022|      15897|          Cheque|     Robin|    Singh|  India|
|        100059| 11994|27-July-2022|      15897|          Cheque|     Robin|    Singh|  India|
|        100062| 11988|27-July-2022|      15897|          Cheque|     Robin|    Singh|  India|
|        100065| 11982|27-July-2022|      15897|          Cheque|     Robin|    Singh|  India|
|        100023| 12000|27-July-2022|      15897|     Credit Card|     Robin|    Singh|  India|
|        100017| 11994|27-July-2022|      15897|     Credit Card|     Robin|    Singh|  India|
|        100011| 11988|27-July-2022|      15897|     Credit Card|     Robin|    Singh|  India|
|        100005| 11982|27-July-2022|      15897|     Credit Card|     Robin|    Singh|  India|
|        100069| 11974|27-July-2022|      31262|          Cheque|      John|     Sena| Russia|
|         99997| 11974|27-July-2022|      31262|     Credit Card|      John|     Sena| Russia|
+--------------+------+------------+-----------+----------------+----------+---------+-------+

In [30]:
all_data.printSchema()

root
 |-- Transaction_id: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Customer_id: string (nullable = true)
 |-- Transaction_type: string (nullable = false)
 |-- First_Name: string (nullable = true)
 |-- Last_Name: string (nullable = true)
 |-- Country: string (nullable = true)

In [31]:
from pyspark.sql.types import StringType,BooleanType,DateType
from pyspark.sql import functions as F
from pyspark.sql.functions import dayofmonth
from pyspark.sql.functions import year
from pyspark.sql.functions import month
from pyspark.sql.functions import to_timestamp,date_format
from pyspark.sql.functions import current_timestamp
from pyspark.sql.functions import col, substring
from pyspark.sql.functions import *

#Changing data types

In [32]:
#def function to convert it into date type

In [33]:
#all_data.select(F.col('Transaction_id').astype('String'),F.col('Amount').astype('Double'), substring('Date', 1,2), to_date(F.col('Date'),"dd-mm-yyyy")   ).show()

#all_data.select(F.col('Transaction_id').astype('String'), F.col('Amount').astype('Double'), F.to_date(col('Date'), 'd-M-y').alias('Date')).show()


all_data_updated = all_data.select(
                F.col('Transaction_id').astype('Double'),
                F.col('Transaction_type').astype('String'),
                F.col('Amount').astype('Double'), 
                F.col('Customer_id').astype('String'),  
                concat(all_data['First_Name'],lit(" "), all_data['Last_Name']).alias('Name'), 
                F.col('Country').astype('String')
                                  )

In [34]:
all_data_updated.printSchema()

root
 |-- Transaction_id: double (nullable = true)
 |-- Transaction_type: string (nullable = false)
 |-- Amount: double (nullable = true)
 |-- Customer_id: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Country: string (nullable = true)

In [35]:
all_data_updated.show(100)

+--------------+----------------+-------+-----------+-------------+-------+
|Transaction_id|Transaction_type| Amount|Customer_id|         Name|Country|
+--------------+----------------+-------+-----------+-------------+-------+
|      100058.0|          Cheque|11996.0|      12454|Doyel Pradhan|  China|
|      100061.0|          Cheque|11990.0|      12454|Doyel Pradhan|  China|
|      100064.0|          Cheque|11984.0|      12454|Doyel Pradhan|  China|
|      100067.0|          Cheque|11978.0|      12454|Doyel Pradhan|  China|
|      100019.0|     Credit Card|11996.0|      12454|Doyel Pradhan|  China|
|      100013.0|     Credit Card|11990.0|      12454|Doyel Pradhan|  China|
|      100007.0|     Credit Card|11984.0|      12454|Doyel Pradhan|  China|
|      100001.0|     Credit Card|11978.0|      12454|Doyel Pradhan|  China|
|      100068.0|          Cheque|11976.0|      14587|  Sam Thankur| Taiwan|
|       99999.0|     Credit Card|11976.0|      14587|  Sam Thankur| Taiwan|
|      100057.0|          Cheque|11998.0|      15867|  Rajiv Singh|    USA|
|      100060.0|          Cheque|11992.0|      15867|  Rajiv Singh|    USA|
|      100063.0|          Cheque|11986.0|      15867|  Rajiv Singh|    USA|
|      100066.0|          Cheque|11980.0|      15867|  Rajiv Singh|    USA|
|      100021.0|     Credit Card|11998.0|      15867|  Rajiv Singh|    USA|
|      100015.0|     Credit Card|11992.0|      15867|  Rajiv Singh|    USA|
|      100009.0|     Credit Card|11986.0|      15867|  Rajiv Singh|    USA|
|      100003.0|     Credit Card|11980.0|      15867|  Rajiv Singh|    USA|
|      100056.0|          Cheque|12000.0|      15897|  Robin Singh|  India|
|      100059.0|          Cheque|11994.0|      15897|  Robin Singh|  India|
|      100062.0|          Cheque|11988.0|      15897|  Robin Singh|  India|
|      100065.0|          Cheque|11982.0|      15897|  Robin Singh|  India|
|      100023.0|     Credit Card|12000.0|      15897|  Robin Singh|  India|
|      100017.0|     Credit Card|11994.0|      15897|  Robin Singh|  India|
|      100011.0|     Credit Card|11988.0|      15897|  Robin Singh|  India|
|      100005.0|     Credit Card|11982.0|      15897|  Robin Singh|  India|
|      100069.0|          Cheque|11974.0|      31262|    John Sena| Russia|
|       99997.0|     Credit Card|11974.0|      31262|    John Sena| Russia|
+--------------+----------------+-------+-----------+-------------+-------+

In [36]:
all_data_updated.groupBy('Name').sum().show()

+-------------+-------------------+-----------+
|         Name|sum(Transaction_id)|sum(Amount)|
+-------------+-------------------+-----------+
|Doyel Pradhan|           800290.0|    95896.0|
|  Sam Thankur|           200067.0|    23952.0|
|  Rajiv Singh|           800294.0|    95912.0|
|    John Sena|           200066.0|    23948.0|
|  Robin Singh|           800298.0|    95928.0|
+-------------+-------------------+-----------+

In [37]:
all_data_updated.groupBy('Country').sum().show()

+-------+-------------------+-----------+
|Country|sum(Transaction_id)|sum(Amount)|
+-------+-------------------+-----------+
| Russia|           200066.0|    23948.0|
| Taiwan|           200067.0|    23952.0|
|  China|           800290.0|    95896.0|
|  India|           800298.0|    95928.0|
|    USA|           800294.0|    95912.0|
+-------+-------------------+-----------+

In [38]:
all_data_updated.filter('Amount >1000').show()

+--------------+----------------+-------+-----------+-------------+-------+
|Transaction_id|Transaction_type| Amount|Customer_id|         Name|Country|
+--------------+----------------+-------+-----------+-------------+-------+
|      100058.0|          Cheque|11996.0|      12454|Doyel Pradhan|  China|
|      100061.0|          Cheque|11990.0|      12454|Doyel Pradhan|  China|
|      100064.0|          Cheque|11984.0|      12454|Doyel Pradhan|  China|
|      100067.0|          Cheque|11978.0|      12454|Doyel Pradhan|  China|
|      100019.0|     Credit Card|11996.0|      12454|Doyel Pradhan|  China|
|      100013.0|     Credit Card|11990.0|      12454|Doyel Pradhan|  China|
|      100007.0|     Credit Card|11984.0|      12454|Doyel Pradhan|  China|
|      100001.0|     Credit Card|11978.0|      12454|Doyel Pradhan|  China|
|      100068.0|          Cheque|11976.0|      14587|  Sam Thankur| Taiwan|
|       99999.0|     Credit Card|11976.0|      14587|  Sam Thankur| Taiwan|
|      100057.0|          Cheque|11998.0|      15867|  Rajiv Singh|    USA|
|      100060.0|          Cheque|11992.0|      15867|  Rajiv Singh|    USA|
|      100063.0|          Cheque|11986.0|      15867|  Rajiv Singh|    USA|
|      100066.0|          Cheque|11980.0|      15867|  Rajiv Singh|    USA|
|      100021.0|     Credit Card|11998.0|      15867|  Rajiv Singh|    USA|
|      100015.0|     Credit Card|11992.0|      15867|  Rajiv Singh|    USA|
|      100009.0|     Credit Card|11986.0|      15867|  Rajiv Singh|    USA|
|      100003.0|     Credit Card|11980.0|      15867|  Rajiv Singh|    USA|
|      100056.0|          Cheque|12000.0|      15897|  Robin Singh|  India|
|      100059.0|          Cheque|11994.0|      15897|  Robin Singh|  India|
+--------------+----------------+-------+-----------+-------------+-------+
only showing top 20 rows

In [39]:
all_data_updated =  all_data_updated.withColumn('Taxable_Income', (all_data_updated['Amount'] - 5000))

In [40]:
all_data_updated.show()

+--------------+----------------+-------+-----------+-------------+-------+--------------+
|Transaction_id|Transaction_type| Amount|Customer_id|         Name|Country|Taxable_Income|
+--------------+----------------+-------+-----------+-------------+-------+--------------+
|      100058.0|          Cheque|11996.0|      12454|Doyel Pradhan|  China|        6996.0|
|      100061.0|          Cheque|11990.0|      12454|Doyel Pradhan|  China|        6990.0|
|      100064.0|          Cheque|11984.0|      12454|Doyel Pradhan|  China|        6984.0|
|      100067.0|          Cheque|11978.0|      12454|Doyel Pradhan|  China|        6978.0|
|      100019.0|     Credit Card|11996.0|      12454|Doyel Pradhan|  China|        6996.0|
|      100013.0|     Credit Card|11990.0|      12454|Doyel Pradhan|  China|        6990.0|
|      100007.0|     Credit Card|11984.0|      12454|Doyel Pradhan|  China|        6984.0|
|      100001.0|     Credit Card|11978.0|      12454|Doyel Pradhan|  China|        6978.0|
|      100068.0|          Cheque|11976.0|      14587|  Sam Thankur| Taiwan|        6976.0|
|       99999.0|     Credit Card|11976.0|      14587|  Sam Thankur| Taiwan|        6976.0|
|      100057.0|          Cheque|11998.0|      15867|  Rajiv Singh|    USA|        6998.0|
|      100060.0|          Cheque|11992.0|      15867|  Rajiv Singh|    USA|        6992.0|
|      100063.0|          Cheque|11986.0|      15867|  Rajiv Singh|    USA|        6986.0|
|      100066.0|          Cheque|11980.0|      15867|  Rajiv Singh|    USA|        6980.0|
|      100021.0|     Credit Card|11998.0|      15867|  Rajiv Singh|    USA|        6998.0|
|      100015.0|     Credit Card|11992.0|      15867|  Rajiv Singh|    USA|        6992.0|
|      100009.0|     Credit Card|11986.0|      15867|  Rajiv Singh|    USA|        6986.0|
|      100003.0|     Credit Card|11980.0|      15867|  Rajiv Singh|    USA|        6980.0|
|      100056.0|          Cheque|12000.0|      15897|  Robin Singh|  India|        7000.0|
|      100059.0|          Cheque|11994.0|      15897|  Robin Singh|  India|        6994.0|
+--------------+----------------+-------+-----------+-------------+-------+--------------+
only showing top 20 rows

In [41]:
#defining function for tax rate

def tax(Taxable_Income):
  if Taxable_Income > 6992:
    return(18)
  else:
    return(12)

In [42]:
tax_rate = F.udf(tax, IntegerType())

In [43]:
all_data_updated = all_data_updated.withColumn('Tax_rate', tax_rate('Taxable_Income'))

In [44]:
all_data_updated.show(100)

+--------------+----------------+-------+-----------+-------------+-------+--------------+--------+
|Transaction_id|Transaction_type| Amount|Customer_id|         Name|Country|Taxable_Income|Tax_rate|
+--------------+----------------+-------+-----------+-------------+-------+--------------+--------+
|      100058.0|          Cheque|11996.0|      12454|Doyel Pradhan|  China|        6996.0|      18|
|      100061.0|          Cheque|11990.0|      12454|Doyel Pradhan|  China|        6990.0|      12|
|      100064.0|          Cheque|11984.0|      12454|Doyel Pradhan|  China|        6984.0|      12|
|      100067.0|          Cheque|11978.0|      12454|Doyel Pradhan|  China|        6978.0|      12|
|      100019.0|     Credit Card|11996.0|      12454|Doyel Pradhan|  China|        6996.0|      18|
|      100013.0|     Credit Card|11990.0|      12454|Doyel Pradhan|  China|        6990.0|      12|
|      100007.0|     Credit Card|11984.0|      12454|Doyel Pradhan|  China|        6984.0|      12|
|      100001.0|     Credit Card|11978.0|      12454|Doyel Pradhan|  China|        6978.0|      12|
|      100068.0|          Cheque|11976.0|      14587|  Sam Thankur| Taiwan|        6976.0|      12|
|       99999.0|     Credit Card|11976.0|      14587|  Sam Thankur| Taiwan|        6976.0|      12|
|      100057.0|          Cheque|11998.0|      15867|  Rajiv Singh|    USA|        6998.0|      18|
|      100060.0|          Cheque|11992.0|      15867|  Rajiv Singh|    USA|        6992.0|      12|
|      100063.0|          Cheque|11986.0|      15867|  Rajiv Singh|    USA|        6986.0|      12|
|      100066.0|          Cheque|11980.0|      15867|  Rajiv Singh|    USA|        6980.0|      12|
|      100021.0|     Credit Card|11998.0|      15867|  Rajiv Singh|    USA|        6998.0|      18|
|      100015.0|     Credit Card|11992.0|      15867|  Rajiv Singh|    USA|        6992.0|      12|
|      100009.0|     Credit Card|11986.0|      15867|  Rajiv Singh|    USA|        6986.0|      12|
|      100003.0|     Credit Card|11980.0|      15867|  Rajiv Singh|    USA|        6980.0|      12|
|      100056.0|          Cheque|12000.0|      15897|  Robin Singh|  India|        7000.0|      18|
|      100059.0|          Cheque|11994.0|      15897|  Robin Singh|  India|        6994.0|      18|
|      100062.0|          Cheque|11988.0|      15897|  Robin Singh|  India|        6988.0|      12|
|      100065.0|          Cheque|11982.0|      15897|  Robin Singh|  India|        6982.0|      12|
|      100023.0|     Credit Card|12000.0|      15897|  Robin Singh|  India|        7000.0|      18|
|      100017.0|     Credit Card|11994.0|      15897|  Robin Singh|  India|        6994.0|      18|
|      100011.0|     Credit Card|11988.0|      15897|  Robin Singh|  India|        6988.0|      12|
|      100005.0|     Credit Card|11982.0|      15897|  Robin Singh|  India|        6982.0|      12|
|      100069.0|          Cheque|11974.0|      31262|    John Sena| Russia|        6974.0|      12|
|       99997.0|     Credit Card|11974.0|      31262|    John Sena| Russia|        6974.0|      12|
+--------------+----------------+-------+-----------+-------------+-------+--------------+--------+

In [45]:
from pyspark.sql.functions import when

all_data_updated = all_data_updated.withColumn('updated_country', when(all_data_updated['Country'] == 'China', 'America').otherwise(all_data_updated['Country'])).drop(all_data_updated['Country'])

In [46]:
all_data_updated = all_data_updated.withColumn('First_name', split(all_data_updated['Name'], " ").getItem(1))

In [47]:
all_data_updated.show()

+--------------+----------------+-------+-----------+-------------+--------------+--------+---------------+----------+
|Transaction_id|Transaction_type| Amount|Customer_id|         Name|Taxable_Income|Tax_rate|updated_country|First_name|
+--------------+----------------+-------+-----------+-------------+--------------+--------+---------------+----------+
|      100058.0|          Cheque|11996.0|      12454|Doyel Pradhan|        6996.0|      18|        America|   Pradhan|
|      100061.0|          Cheque|11990.0|      12454|Doyel Pradhan|        6990.0|      12|        America|   Pradhan|
|      100064.0|          Cheque|11984.0|      12454|Doyel Pradhan|        6984.0|      12|        America|   Pradhan|
|      100067.0|          Cheque|11978.0|      12454|Doyel Pradhan|        6978.0|      12|        America|   Pradhan|
|      100019.0|     Credit Card|11996.0|      12454|Doyel Pradhan|        6996.0|      18|        America|   Pradhan|
|      100013.0|     Credit Card|11990.0|      12454|Doyel Pradhan|        6990.0|      12|        America|   Pradhan|
|      100007.0|     Credit Card|11984.0|      12454|Doyel Pradhan|        6984.0|      12|        America|   Pradhan|
|      100001.0|     Credit Card|11978.0|      12454|Doyel Pradhan|        6978.0|      12|        America|   Pradhan|
|      100068.0|          Cheque|11976.0|      14587|  Sam Thankur|        6976.0|      12|         Taiwan|   Thankur|
|       99999.0|     Credit Card|11976.0|      14587|  Sam Thankur|        6976.0|      12|         Taiwan|   Thankur|
|      100057.0|          Cheque|11998.0|      15867|  Rajiv Singh|        6998.0|      18|            USA|     Singh|
|      100060.0|          Cheque|11992.0|      15867|  Rajiv Singh|        6992.0|      12|            USA|     Singh|
|      100063.0|          Cheque|11986.0|      15867|  Rajiv Singh|        6986.0|      12|            USA|     Singh|
|      100066.0|          Cheque|11980.0|      15867|  Rajiv Singh|        6980.0|      12|            USA|     Singh|
|      100021.0|     Credit Card|11998.0|      15867|  Rajiv Singh|        6998.0|      18|            USA|     Singh|
|      100015.0|     Credit Card|11992.0|      15867|  Rajiv Singh|        6992.0|      12|            USA|     Singh|
|      100009.0|     Credit Card|11986.0|      15867|  Rajiv Singh|        6986.0|      12|            USA|     Singh|
|      100003.0|     Credit Card|11980.0|      15867|  Rajiv Singh|        6980.0|      12|            USA|     Singh|
|      100056.0|          Cheque|12000.0|      15897|  Robin Singh|        7000.0|      18|          India|     Singh|
|      100059.0|          Cheque|11994.0|      15897|  Robin Singh|        6994.0|      18|          India|     Singh|
+--------------+----------------+-------+-----------+-------------+--------------+--------+---------------+----------+
only showing top 20 rows

In [48]:
all_data_updated.write.option("header" , True).partitionBy('updated_country').mode('overwrite').parquet('/content/Partition_Only/parquet.parquet')

In [49]:
all_data_updated.write.bucketBy(7,('transaction_id')).format('parquet').option("path", "/content/Bucketting/parquet.parquet").saveAsTable('updated_data')

In [51]:
et = time.time()
elapsed_time = et - st
print('Execution time:', elapsed_time, 'seconds')

Execution time: 111.39685773849487 seconds